.alert{
  margin-bottom: 0;
}

.flex-center{
    justify-content: center !important; 
}
/* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
 width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  display: flex;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */
.prev {
  color: #999;  
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}








.mybtn {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0c5;

  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 80%;
  padding: 10px 18px;
  width: 220px;
  height: 30px;
  margin:10px; 
  background: #0d6;
  border: 1px solid #0d6;
  color: #fff;
  overflow: hidden;

  transition: all 0.5s;
}

.mybtn:hover,
.mybtn:active {
  text-decoration: none;
  color: #0c5;
  border-color: #0c5;
  background: #fff;
}

.mybtn span {
  display: inline-block;
  position: relative;
  padding-right: 0;

  transition: padding-right 0.5s;
}

.mybtn span:after {
  content: " ";
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #fff;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.mybtn:hover span,
.mybtn:active span {
  padding-right: 30px;
}

.mybtn:hover span:after,
.mybtn:active span:after {
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0c5;
  right: 0;
  top: 50%;
  bottom: 50%;
}



.songpost{
    opacity: 1;
}

body,html {
  height: 100%
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}

#mysearch{
    padding-top: 10%;
    padding-bottom: 8%;
    background: url(imgs/about-img.png) no-repeat;
    background-attachment: fixed;
    opacity: 0.85;
}


#back{
  background: url(imgs/member-bg.jpg);
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(0deg, #691cff 0%, #f51cb0 100%);
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.searchbar{
    height: 60px;
    background-color: #ebecec;
    border-radius: 30px;
    padding: 10px;
    opacity: 1;
    }

    .search_input{
    color: rgb(17, 17, 17);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: rgb(94, 92, 92);
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(233, 223, 223);
    }


  body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
  }
  
 
  a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
  }
  
  h1, h2, h3,
  h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
  }
  
  .h1, .h2, .h3,
  .h4, .h5, .h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222222;
  }
  
  h1, .h1 {
    font-size: 36px;
  }
  
  h2, .h2 {
    font-size: 30px;
  }
  
  h3, .h3 {
    font-size: 24px;
  }
  
  h4, .h4 {
    font-size: 18px;
  }
  
  h5, .h5 {
    font-size: 16px;
  }
  
  h6, .h6 {
    font-size: 14px;
    color: #222222;
  }
  
 
  .float-left {
    float: left;
  }
  
  .float-right {
    float: right;
  }
  
  .text-italic {
    font-style: italic;
  }
  
  .text-white {
    color: #fff;
  }
  
  .transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .section-full {
    padding: 100px 0;
  }
  
  .section-half {
    padding: 75px 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-rigth {
    text-align: right;
  }
 
  .container.fullwidth {
    width: 100%;
  }
  
  .container.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .section-bg {
    background: #f9fafc;
  }
  
  @media (max-width: 767px) {
    .no-flex-xs {
      display: block !important;
    }
  }
  
  .row.no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  
  .sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
  }
  
  .text-heading {
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  b, i, sup, sub, u, del {
    color: #130314 !important;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 16px;
  }
  
  h6 {
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
  }
  
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    color: #777777;
  }
  
  .button-area {
    background: #fff;
  }
  
  .button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee;
  }
  
  .button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .button-group-area .genric-btn:last-child {
    margin-right: 0;
  }
  
  .genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .genric-btn:focus {
    outline: none;
  }
  
  .genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px;
  }
  
  .genric-btn.large {
    line-height: 45px;
  }
  
  .genric-btn.medium {
    line-height: 30px;
  }
  
  .genric-btn.small {
    line-height: 25px;
  }
  
  .genric-btn.radius {
    border-radius: 3px;
  }
  
  .genric-btn.circle {
    border-radius: 20px;
  }
  
  .genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .genric-btn.arrow span {
    margin-left: 10px;
  }
  
  .genric-btn.default {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff;
  }
  
  .genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff;
  }
  
  .genric-btn.default-border:hover {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.primary {
    color: #fff;
    background: #fcd2ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.primary:hover {
    color: #fcd2ff;
    border: 1px solid #fcd2ff;
    background: #fff;
  }
  
  .genric-btn.primary-border {
    color: #fcd2ff;
    border: 1px solid #fcd2ff;
    background: #fff;
  }
  
  .genric-btn.primary-border:hover {
    color: #fff;
    background: #fcd2ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
  }
  
  .genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
  }
  
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
  }
  
  .genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
  }
  
  .genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
  }
  
  .genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
  }
  
  .genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
  }
  
  .genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
  }
  
  .genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
  }
  
  .genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
  }
  
  .genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
  }
  
  .genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
  }
  
  .genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
  }
  
  .genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
  }
  
  .genric-btn.link {
    color: #222222;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent;
  }
  
  .genric-btn.link:hover {
    color: #222222;
    border: 1px solid #f9f9ff;
    background: #fff;
  }
  
  .genric-btn.link-border {
    color: #222222;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline;
  }
  
  .genric-btn.link-border:hover {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.disable {
    color: #222222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed;
  }
  
  .generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #fcd2ff;
  }
  
  .progress-table-wrap {
    overflow-x: scroll;
  }
  
  .progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px;
  }
  
  .progress-table .serial {
    width: 11.83%;
    padding-left: 30px;
  }
  
  .progress-table .country {
    width: 28.07%;
  }
  
  .progress-table .visit {
    width: 19.74%;
  }
  
  .progress-table .percentage {
    width: 40.36%;
    padding-right: 50px;
  }
  
  .progress-table .table-head {
    display: flex;
  }
  
  .progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
  }
  
  .progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
    display: flex;
    align-items: center;
  }
  
  .progress-table .table-row .country img {
    margin-right: 15px;
  }
  
  .progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0px;
    background: transparent;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7;
  }
  
  .progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686;
  }
  
  .single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
  }
  
  .list-style {
    width: 14px;
    height: 14px;
  }
  
  .unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
  }
  
  .unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #fcd2ff;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
  }
  
  .ordered-list {
    margin-left: 30px;
  }
  
  .ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #fcd2ff;
    font-weight: 500;
    line-height: 1.82em !important;
  }
  
  .ordered-list li span {
    font-weight: 300;
    color: #777777;
  }
  
  .ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #fcd2ff;
    font-weight: 500;
    line-height: 1.82em !important;
  }
  
  .ordered-list-alpha li span {
    font-weight: 300;
    color: #777777;
  }
  
  .ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #fcd2ff;
    font-weight: 500;
    line-height: 1.82em !important;
  }
  
  .ordered-list-roman li span {
    font-weight: 300;
    color: #777777;
  }
  
  .single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
  }
  
  .single-input:focus {
    outline: none;
  }
  
  .input-group-icon {
    position: relative;
  }
  
  .input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3;
  }
  
  .input-group-icon .icon i {
    color: #797979;
  }
  
  .input-group-icon .single-input {
    padding-left: 45px;
  }
  
  .single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none;
  }
  
  .single-textarea:focus {
    outline: none;
  }
  
  .single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
  }
  
  .single-input-primary:focus {
    outline: none;
    border: 1px solid #fcd2ff;
  }
  
  .single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
  }
  
  .single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55;
  }
  
  .single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
  }
  
  .single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359;
  }
  
  .default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .default-switch input + label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fcd2ff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .default-switch input:checked + label {
    left: 19px;
  }
  
  .primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .primary-switch input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .primary-switch input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .primary-switch input + label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .primary-switch input:checked + label:after {
    left: 19px;
  }
  
  .primary-switch input:checked + label:before {
    background: #fcd2ff;
  }
  
  .confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .confirm-switch input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .confirm-switch input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .confirm-switch input + label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .confirm-switch input:checked + label:after {
    left: 19px;
  }
  
  .confirm-switch input:checked + label:before {
    background: #4cd3e3;
  }
  
  .primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .primary-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
  }
  
  .primary-checkbox input:checked + label {
    background: url(../img/elements/primary-check.png) no-repeat center center/cover;
    border: none;
  }
  
  .confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .confirm-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
  }
  
  .confirm-checkbox input:checked + label {
    background: url(../img/elements/success-check.png) no-repeat center center/cover;
    border: none;
  }
  
  .disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .disabled-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
  }
  
  .disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3;
  }
  
  .disabled-checkbox input:checked + label {
    background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
    border: none;
  }
  
  .primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .primary-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
  }
  
  .primary-radio input:checked + label {
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none;
  }
  
  .confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .confirm-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
  }
  
  .confirm-radio input:checked + label {
    background: url(../img/elements/success-radio.png) no-repeat center center/cover;
    border: none;
  }
  
  .disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
  }
  
  .disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .disabled-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
  }
  
  .disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3;
  }
  
  .disabled-radio input:checked + label {
    background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none;
  }
  
  .default-select {
    height: 40px;
  }
  
  .default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px;
  }
  
  .default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
  }
  
  .default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px;
  }
  
  .default-select .nice-select .list .option.selected {
    color: #fcd2ff;
    background: transparent;
  }
  
  .default-select .nice-select .list .option:hover {
    color: #fcd2ff;
    background: transparent;
  }
  
  .default-select .current {
    margin-right: 50px;
    font-weight: 300;
  }
  
  .default-select .nice-select::after {
    right: 20px;
  }
  
  .form-select {
    height: 40px;
    width: 100%;
  }
  
  .form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%;
  }
  
  .form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
  }
  
  .form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px;
  }
  
  .form-select .nice-select .list .option.selected {
    color: #fcd2ff;
    background: transparent;
  }
  
  .form-select .nice-select .list .option:hover {
    color: #fcd2ff;
    background: transparent;
  }
  
  .form-select .current {
    margin-right: 50px;
    font-weight: 300;
  }
  
  .form-select .nice-select::after {
    right: 20px;
  }
  
  body {
    position: relative;
  }
  
  .default-header {
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  
  .menu-bar {
    cursor: pointer;
  }
  
  .menu-bar span {
    color: #fff;
    font-size: 24px;
  }
  
  .main-menubar {
    position: relative;
  }
  
  nav {
    margin-right: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform-origin: 100% 50%;
  }
  
  @media (max-width: 767px) {
    nav {
      margin-right: 0;
      position: absolute;
      right: 0;
      top: 47px;
      text-align: right;
      padding: 20px 0;
      z-index: 5;
      background: #fff;
    }
    nav a {
      color: #691cff !important;
    }
    nav a:hover {
      color: #691cff;
    }
  }
  
  nav.hide {
    transform: scale(0);
  }
  
  nav a {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 25px;
    display: inline-block;
  }
  
  @media (max-width: 767px) {
    nav a {
      margin: 5px 25px;
    }
  }
  
  nav a:hover {
    color: #fff;
  }
  
  .section-gap {
    padding: 120px 0;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    margin-bottom: 20px;
  }
  
  .section-title p {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  @media (max-width: 991px) {
    .section-title p br {
      display: none;
    }
  }
  
  .p1-gradient-bg, .primary-btn:after, .is-sticky .default-header, .single-img, .member-area .overlay-bg, .contact-area .primary-btn, .footer-social a:hover {
    background-image: -moz-linear-gradient(0deg, #691cff 0%, #f51cb0 100%);
    background-image: -webkit-linear-gradient(0deg, #691cff 0%, #f51cb0 100%);
    background-image: -ms-linear-gradient(0deg, #691cff 0%, #f51cb0 100%);
  }
  
  .p1-gradient-color, .about-details h2 {
    background: -moz-linear-gradient(0deg, #691cff 0%, #f51cb0 100%);
    background: -webkit-linear-gradient(0deg, #691cff 0%, #f51cb0 100%);
    background: -ms-linear-gradient(0deg, #691cff 0%, #f51cb0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .primary-btn {
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #222222;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  
  .primary-btn:focus {
    outline: none;
  }
  
  .primary-btn span {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  
  .primary-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  
  .banner-area {
    background: url(imgs/banner-bg.jpg) no-repeat center center/cover;
    z-index: 1;
  }
  
  @media (max-width: 767px) {
    .banner-area .fullscreen {
      height: 700px !important;
    }
  }
  
  @media (max-width: 767px) {
    .banner-content {
      margin-top: 100px;
    }
  }
  
  .banner-content h1 {
    color: #fff;
    font-size: 124px;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1.15em;
    text-shadow: 13px 15px 8px rgba(63, 107, 169, 0.5);
  }
  
  @media (max-width: 991px) {
    .banner-content h1 {
      font-size: 36px;
    }
  }
  
  @media (max-width: 991px) {
    .banner-content h1 br {
      display: none;
    }
  }
  
  @media (max-width: 1199px) {
    .banner-content h1 {
      font-size: 90px;
    }
  }
  
  @media (max-width: 414px) {
    .banner-content h1 {
      font-size: 40px;
    }
  }
  
  .banner-content p {
    color: #fff;
    margin-bottom: 60px;
    font-weight: 400;
    letter-spacing: 3px;
    max-width: 730px;
    font-size: 16px;
  }
  
  @media (max-width: 767px) {
    .banner-content p {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 991px) {
    .banner-content p br {
      display: none;
    }
  }
  
