<script>
        function storeID(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/insert/"+id, true);
            xhttp.send();
        }
</script>

{% extends "userbasiclayout.html" %}
{% block content %}

        <div class="row container scrolling-wrapper" id="wrapper">
        <div class="col-md-4 mb-5 songpost">
    {% for post in posts %}
            <a class="card" href="#!" id="postsearch">
                    <div class="front" style="background-image: url('{{ post.Image }}');">
                      <h2 class="head">{{ post.SongName }}</h2>
                    </div>
                    <div class="back">
                                <div>
                                        <div ><p class="info" id="songinfo">{{ post.Language }}<br>
                                                    {{ post.Duration }} s</p>
                                        </div>
                                        
                                        <div id="audio">
                                                <audio controls="controls" src="{{ post.SongUrl }}" onplay="storeID('{{post.SongID}}')">
                                                </audio>
                                        </div>
                                </div>
                    </div>
            </a>
        
    {% endfor %}
</div>
</div>

{% endblock content %}