<script>
        function storeID(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/insert/"+id, true);
            xhttp.send();
        }
</script>

{% extends "userbasiclayout.html" %}
{% block content %}
<div id="historyback">
        <div class="row container scrolling-wrapper" id="wrapper">
        <div class="col-md-4 mb-5 songpost">
    {% for post in posts %}
            <!-- <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ post.SongName }}</h2>
                <img src="{{ post.Image }}" width="100%">
            </div>
                    <audio controls="controls" src="{{ post.SongUrl }}" onplay="storeID('{{post.SongID}}')">
                    </audio>
            <div class="card-footer">
            </div>
            </div> -->
            <a class="card" href="#!" id="postsearch">
                    <div class="front" style="background-image: url('{{ post.Image }}');">
                      <h2 class="head">{{ post.SongName }}</h2>
                    </div>
                    <div class="back">
                            <audio controls="controls" src="{{ post.SongUrl }}" onplay="storeID('{{post.SongID}}')">
                                </audio>
                    </div>
            </a>
        
    {% endfor %}
</div>
</div>
</div>
{% endblock content %}