<link href="my.css" rel="stylesheet"></link>
<script>
    function storeID(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/insert/"+id, true);
        xhttp.send();
    }
</script>

<script>
    function searchEngine() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.querySelectorAll('#wrapper');
        console.log(ul);
        ul.forEach(element => {
            li = element.querySelectorAll('#postsearch');
            for (i = 0; i < li.length; i++) {
                a = li[i].querySelector('.head');
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
        });
        

    }
</script>

{% extends "userbasiclayout.html" %}
{% block content %}


<!-- Start Banner Area -->
    <!-- End Banner Area -->
 <div id="searchback">
<div id="mysearch">
    <!-- <h2>Welcome {{ user }} !</h2> -->
    <div class="d-flex justify-content-center" >
        <div class="searchbar">
            <input class="search_input" type="text" name="search" autocomplete="off" value="" placeholder="Search among Songs, Albums and Artists" aria-label="Search"
                id="myInput" onkeyup="searchEngine()">
            <button  class=" searchbar search_icon"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
</div>

<div id="backback">
<ul id="menu">
    <li class="titles"><a href="#"><span >Songs</span></a></li>
</ul>
<div class="row container scrolling-wrapper" id="wrapper">
        <div class="col-md-4 mb-5 songpost" >  
    {% for post in posts %}
    
            <!-- <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ post.SongName }}</h2>
                <img src="{{ post.Image }}" height="150px" width="150px">
            </div>
                    <audio controls="controls" src="{{ post.SongUrl }}" onplay="storeID('{{post.SongID}}')">
                    </audio>
            <div class="card-footer">
            </div>
            </div> -->
            <a class="card" href="#!" id="postsearch">
                    <div class="front" style="background-image: url('{{ post.Image }}');">
                      <h2 class="head">{{ post.SongName }}</h2>
                    </div>
                    <div class="back">
                            <div>
                                    <div ><p class="info" id="songinfo">{{ post.Language }}<br>
                                        {{ post.Duration }} s</p>
                                    </div>
                            
                      <div id="audio">
                              <audio controls="controls" src="{{ post.SongUrl }}" onplay="storeID('{{post.SongID}}')">
                                  </audio>
                      </div>
                    </div>
                </div>
            </a>
       
    {% endfor %}
</div>
</div>









<ul id="menu">
    <li class="titles"><a href="#"><span >Albums</span></a></li>
</ul>
<div class="row container scrolling-wrapper" id="wrapper">
        <div class="col-md-4 mb-5 songpost" id="postsearch" >
    {% for album in albumpost %}
            <a class="card" onclick="location.href='/songInfo/{{ album.AlbumID }}'">
                <div class="front" style="background-image: url('{{ album.Image }}');">
                  <h2 class="head">{{ album.AlbumName }}</h2>
                </div>
                <div class="back">
                    <p class="info">
                        Year of Release : {{ album.Year }}<br>
                        Num of Songs : {{ album.NumSongs }}</p>
                </div>
            </a>
        
    {% endfor %}
</div>
</div>

<ul id="menu">
    <li class="titles"><a href="#"><span >Artists</span></a></li>
</ul>
<div class="row container scrolling-wrapper" id="wrapper">
    <div class="col-md-4 mb-5 songpost" id="postsearch" >
        {% for artist in artistpost %}
            
                <!-- <div class="card" onclick="location.href='/songInfoOfArtist/{{ artist.ArtistID }}'">
                <div class="card-body">
                    <h2 class="card-title">{{ artist.ArtistName }}</h2>
                    <img src="{{ artist.Image }}" height="150px" width="150px" >
                </div>
                <div class="card-footer">
                    <p>Num of Songs : {{ artist.NumofSongs }}</p>
                </div>
                </div> -->
                <a class="card" onclick="location.href='/songInfoOfArtist/{{ artist.ArtistID }}'">
                    <div class="front" style="background-image: url('{{ artist.Image }}');">
                      <h2 class="head">{{ artist.ArtistName }}</h2>
                    </div>
                    <div class="back">
                        <p class="info">
                            {{ artist.Gender }}<br>
                            Num of Songs : {{ artist.NumofSongs }}</p>
                    </div>
                </a>
            
        {% endfor %}
    </div>
    </div>
</div>
<footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Footer Links -->
        <div class="container">
    
          <!-- Grid row-->
          <hr class="rgba-white-light" style="margin: 0 15%;">
    
          <!-- Grid row-->
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
    
            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-5">
              <p class="footertext" style="line-height: 1.7rem"> <strong style="font-weight: 800">Music</strong> gives soul to the universe,
                  wings to the <strong style="font-weight: 800">mind</strong>, flight
                  to the <strong style="font-weight: 800">imagination</strong></p>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    
          <!-- Grid row-->
          <div class="row pb-3">
    
            <!-- Grid column -->
            <div class="col-md-5"><p></p><p></p></div>
            <div class="col-md-5">
    
              <div class="flex-center">
    
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/dhairya.baweja.1">
                  <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="https://twitter.com/Blackwidow133">
                  <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                
                <!--Linkedin -->
               
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/dhairyabaweja/">
                  <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                </a>
                
    
              </div>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 footertext">Made with <icon class="fa fa-heart"></icon> by Group 16
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->                 
{% endblock content %}
