{% extends "userbasiclayout.html" %}
{% block content %}

<div class="row container scrolling-wrapper" id="wrapper">
        <div class="col-md-4 mb-5 songpost">
    {% for post in historyposts %}
        <a class="card" href="#!" id="postsearch">
                
                <div class="front" style="background-image: url('{{ post.SongImage }}');">
                  <h2 class="head">{{ post.SongName }}</h2>
                </div>
                <div class="back">
                                <div>
                                        <div ><p class="info" id="songinfo">{{ post.Language }}<br>
                                                {{ post.Duration }} s<br>
                                                    Last Played At : {{ post.DateAndTime }}</p>
                                        </div>
                                                
                                        <div id="audio">
                                                <audio controls="controls" src="{{ post.SongUrl }}" onplay="storeID('{{post.SongID}}')">
                                                </audio>                                                
                                        </div>
                                </div>
                        <!-- <p>Last Played At : {{ post.DateAndTime }}</p> -->
                </div>
        </a>
    {% endfor %}
</div>
</div>

{% endblock content %}