
<script>
    function storeID(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/insert/"+id, true);
        xhttp.send();
    }
</script>

<script>
    function searchEngine() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.querySelectorAll('#wrapper');
        console.log(ul);
        ul.forEach(element => {
            li = element.querySelectorAll('#postsearch');
            for (i = 0; i < li.length; i++) {
                a = li[i].querySelector('.card-title');
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
        });
        

    }
</script>

{% extends "userbasiclayout.html" %}
{% block content %}


<!-- Start Banner Area -->
    <!-- End Banner Area -->
 
<div id="mysearch">
    <h2>Welcome {{ user }} !</h2>
    <div class="d-flex justify-content-center" >
        <div class="searchbar">
            <input class="search_input" type="text" name="search" autocomplete="off" value="" placeholder="Search among Songs, Albums and Artists" aria-label="Search"
                id="myInput" onkeyup="searchEngine()">
            <button  class=" searchbar search_icon"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</div>


<div id="back">
<h1 title="Songs" class="headings">Songs</h1>
<div class="row container" id="wrapper">
    {% for post in posts %}
    <div class="col-md-4 mb-5 songpost" id="postsearch">
            <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ post.SongName }}</h2>
                <img src="{{ post.Image }}" height="150px" width="150px">
            </div>
                    <audio controls="controls" src="{{ post.SongUrl }}" onplay="storeID('{{post.SongID}}')">
                    </audio>
            <div class="card-footer">
            </div>
            </div>
        </div>
    {% endfor %}
</div>

<h1 title="Albums" class="headings" >Albums</h1>
<div class="row container" id="wrapper">
    {% for album in albumpost %}
        <div class="col-md-4 mb-5 songpost" id="postsearch" onclick="location.href='/songInfo/{{ album.AlbumID }}'">
            <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ album.AlbumName }}</h2>
                <img src="{{ album.Image }}" height="150px" width="150px">
            </div>
            <div class="card-footer">
                <p>Num of Songs : {{ album.NumSongs }}</p>
            </div>
            </div>
        </div>
    {% endfor %}
</div>

<h1 title="Artists" class="headings">Artists</h1>
<div class="row container" id="wrapper">
        {% for artist in artistpost %}
            <div class="col-md-4 mb-5 songpost" id="postsearch" onclick="location.href='/songInfoOfArtist/{{ artist.ArtistID }}'">
                <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ artist.ArtistName }}</h2>
                    <img src="{{ artist.Image }}" height="150px" width="150px" >
                </div>
                <div class="card-footer">
                    <p>Num of Songs : {{ artist.NumofSongs }}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
